```Sets

Sets are a built-in data type in Python used to store collections of unique items. They are unordered, meaning
that the elements do not follow a specific order, and they do not allow duplicate elements. Sets are useful for
membership tests, eliminating duplicate entries, and performing mathematical set operations like union,
intersection, difference, and symmetric difference.```

In [ ]:
my_set = {1,3,4,5,4}
print(my_set) 
print(type(my_set))

{1, 3, 4, 5}
<class 'set'>

In [ ]:
# basic operations 
my_set.add(15)
print(my_set)

{1, 3, 4, 5, 15}

In [ ]:
my_set.remove(5)
print(my_set)

{1, 3, 4, 15}

In [ ]:
my_set.remove(10)
print(my_set)
# this error is coming due to 10 is not in set

KeyError: 10

In [ ]:
# to overcome this problem we can use discard method it will not give us error 
my_set.discard(10)
print(my_set)

{1, 3, 4, 15}

In [ ]:
# remove first element
a = my_set.pop()
print(a)
print(my_set)

1
{3, 4, 15}

In [ ]:
# to clear 
my_set.clear()
print(my_set)

set()

In [38]:
# set membership test 
my_set = {1,2,3,4,5,6}
print (1 in my_set)
print (10 in my_set)
# it check whether element is in set or not

True
False

In [18]:
# mathamatical operations 
set1 = {1,2,3,4,5}
set2 = {1,3,4,24,5,6,7,8}

# union (mix both sets)
print(set1.union(set2))

# intersection (give you common element)
print(set1.intersection(set2))
# intersection with update (will update set)
set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 24}
{1, 3, 4, 5}
{1, 3, 4, 5}

In [23]:

set1 = {1,2,3,4,5}
set2 = {1,3,4,24,5,6,7,8}
# diffrence (element that are not present in another set )
print(set1.difference(set2))

# symmetric differenence (all common elements will get removed )
print(set1.symmetric_difference(set2))

# methods 

print(set1.issubset(set2))
print(set1.issuperset(set2))
# many more

{2}
{2, 6, 7, 8, 24}
False
False

In [1]:
# example: remove all the duplicate elements from this list 
my_list = [1,3,4,4,1,5]
print(set(my_list))
# or convert back to list: print(list(set(my_list)))

{1, 3, 4, 5}

In [2]:
# there is list count no. of unique words
list2 = ['mayur','om','abhi','abhi','mayur','om','yash','chirag']
unique = set(list2)
print(unique)
print(len(unique))

{'om', 'mayur', 'chirag', 'yash', 'abhi'}
5